body {
  color: blue;
}
.so-container {
    overflow: hidden;
}
.so-slide {
  width: 100%;
  height: 300px;
  background-color: yellow;
  float: left;
}
.so-slide:nth-child(odd) {
    background-color: red;
}